<ion-header>
  <ion-navbar>
    <ion-title>{{tabName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <cnode-fetching *ngIf="isFetching | async"></cnode-fetching>
  <ion-list>
    <ion-item>
      <ion-title>{{ (topic | async).title }}</ion-title>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start (click)="toUserDetials($event)">
        <img src="{{(topic | async).author.avatar_url}}" class="user-icon">
        <a class="user-name"> {{(topic | async).author.loginname}}</a>
      </ion-thumbnail>
      <ion-icon [name]="(topic | async).is_collect ? 'ios-star' : 'ios-star-outline'" (click)="collect()" *ngIf="isLogin | async"></ion-icon>
      <span [cnode-from-now]="(topic | async).create_at" class="right from-now"></span>
    </ion-item>
    <ion-item>
      <div class="article-content" [innerHTML]="convertMark((topic | async).content)">
      </div>
    </ion-item>
    <cnode-reply-list (onError)="onError($event)" (onSelectedItem)="onSelectedItem($event)"></cnode-reply-list>
  </ion-list>
</ion-content>
<ion-footer *ngIf="isLogin | async">
  <ion-toolbar>
    <cnode-reply [topicId]="(topic | async).id" [replyItem]="replyItem" (onError)="onError($event)"></cnode-reply>
  </ion-toolbar>
</ion-footer>
