<ion-content class="cnode-list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉获取最新" refreshingSpinner="circles" refreshingText="正在获取...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <cnode-topic-item *ngFor="let item of data | async" [item]="item"></cnode-topic-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在获取...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
