cnode-topic-list {
  .icon {
    border-radius: 50%;
  }
  .item {
    padding: 0px 10px;
  }
  .item-inner {
    padding-right: 0px!important;
  }
  h2.cnode-list-item-title {
    white-space: nowrap;
    word-break: normal;
    word-wrap: break-word; // height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
  }
  
  .reply-count {
    color: #9e78c0;
  }
  .visit-count {
    color: #b4b4b4;
  }
  
  .fixed-content, .scroll-content{
      margin-bottom: 0px!important;
  }
}
