<ion-card padding>
  <cnode-user-icon [imgUrl]="user.avatar_url"></cnode-user-icon>
  <ion-title>{{user.loginname}}</ion-title>
  <div>
    积分：{{user.score}}
  </div>
  <div>
    注册于: {{ format(user.create_at)}}
  </div>

</ion-card>
<ng-content>

</ng-content>
<ion-item-group class="ion-item-group">
  <ion-item-divider color="light">最近主题</ion-item-divider>
  <cnode-topic-item *ngFor="let item of user.recent_topics" [item]="item"></cnode-topic-item>
</ion-item-group>
<ion-item-group>
  <ion-item-divider color="light">最近回复</ion-item-divider>
  <cnode-topic-item *ngFor="let item of user.recent_replies" [item]="item"></cnode-topic-item>
</ion-item-group>
