<ion-item *ngFor="let item of replies | async" (click)="openMenu(item)">
  <!-- <ion-thumbnail item-start>
        <cnode-user-icon imgUrl="item.author.avatar_url"></cnode-user-icon>
      </ion-thumbnail> -->
  <div>
    <a href="javascript:;" (click)="toUserDetials($event,item.author.loginname)">{{ item.author.loginname}}</a>
    <ion-icon [name]="item.is_uped ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'" *ngIf="(isLogin | async) "></ion-icon>
    <from-now [dateTime]="item.create_at" class="right"></from-now>
  </div>

  <div [innerHTML]="convertMark(item.content)">

  </div>
</ion-item>
