<form #form="ngForm" (ngSubmit)="isValid()">
  <ion-list>
    <ion-item>
      <ion-label floating>类别</ion-label>
      <ion-select [(ngModel)]="model.tab" interface="action-sheet" cancelText="取消" name="tab" required>
        <ion-option value="sharp">分享</ion-option>
        <ion-option value="ask">问答</ion-option>
        <ion-option value="job">招聘</ion-option>
        <ion-option value="dev">开发</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>标题</ion-label>
      <ion-input [(ngModel)]="model.title" name="title" type="text" required #title="ngModel" minlength="8"></ion-input>
    </ion-item>
    <p *ngIf="title.errors?.required && title.dirty">标题必须填写！</p>
    <p *ngIf="title.errors?.minlength  && title.dirty">标题的字符数量要大于8个！</p>
    <ion-item>
      <ion-label floating>内容</ion-label>
      <ion-textarea [(ngModel)]="model.content" name="content" required #content="ngModel"></ion-textarea>
    </ion-item>
  </ion-list>
</form>
