<ion-item-group class="ion-item-group">
  <ion-item-divider color="light">{{title}} {{ data.length}}</ion-item-divider>
  <ion-item *ngFor="let item of data">
    <h2 class="cnode-list-item-title">{{item.title}}</h2>
    <div>
      <!-- <span>{{item.author.loginname}}</span> -->
      <a href="javascript:;" (click)="toUser(item.author.loginname)">{{item.author.loginname}}</a>在<a href="javascript:;" (click)="toArticle(item.topic.id)">{{item.topic.title}}</a>
    </div>
  </ion-item>

</ion-item-group>
